Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in*
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
openggsn.spec
stamp-h1
doc/Makefile.in
ggsn/Makefile.in
gtp/Makefile.in
sgsnemu/Makefile.in
debian/openggsn/
debian/*.debhelper
debian/libgtp/
debian/*.log
INSTALL
debian/autoreconf.*
debian/*.substvars
debian/tmp/
sgsnemu/sgsnemu
debian/files
debian/libgtp-dev/
libgtp.pc
ggsn/ggsn
m4/
*.swp
*.o
*.a
*.la
*.lo
*.orig
*.rej
*/.deps
*/.libs
*/Makefile
