Source: openggsn
Maintainer: Harald Welte <laforge@gnumonks.org>
Section: net
Priority: optional
Build-Depends: debhelper (>= 9),
               autotools-dev,
               pkg-config,
               libdpkg-perl, git,
               dh-autoreconf,
               libosmocore-dev (>= 0.8.0)
Standards-Version: 3.9.6
Vcs-Browser: http://ggsn.git.sourceforge.net/git/gitweb.cgi?p=ggsn/ggsn;a=summary
Vcs-Git: git://ggsn.git.sourceforge.net/gitroot/ggsn/ggsn
Homepage: https://projects.osmocom.org/projects/openggsn

Package: openggsn
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Gateway GPRS Support Node (GGSN)
 OpenGGSN is a Gateway GPRS Support Node (GGSN). It is used by mobile
 operators as the interface between the Internet and the rest of the
 mobile network infrastructure.

Package: libgtp1
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: library implementing the GTP protocol between SGSN and GGSN
 OpenGGSN is a Gateway GPRS Support Node (GGSN). It is used by mobile
 operators as the interface between the Internet and the rest of the
 mobile network infrastructure.
 .
 This library is part of openggsn and implements the GTP protocol between
 SGSN (Serving GPRS support node) and GGSN.

Package: libgtp-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: ${misc:Depends},
         libgtp1 (= ${binary:Version})
Description: Development files for libgtp
 OpenGGSN is a Gateway GPRS Support Node (GGSN). It is used by mobile
 operators as the interface between the Internet and the rest of the
 mobile network infrastructure.
 .
 The library libgtp implements the GTP protocol between SGSN and GGSN
 and this package contains the development files for this library.

Package: openggsn-dbg
Section: debug
Architecture: any
Priority: extra
Depends: ${shlibs:Depends}, ${misc:Depends}, libgtp1 (= ${binary:Version}), openggsn (= ${binary:Version})
Multi-Arch: same
Description: Debug symbols for OpenGGSN
